# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE files
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model / dataset files
models/
*.h5
*.keras
